:host {
  display: block;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

form {
  padding: 3.2rem 1.6rem 1.6rem;
  border-radius: 1rem;
  background: #F0F0F0;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

fieldset {
  margin-bottom: 1rem;
}

input[type=text] {
  display: block;
  width: 100%;
  height: 5rem;
  padding: 1.2rem;
  margin-bottom: 2rem;
  border: 1px solid #CCC;
  border-radius: 0.4rem;
  background: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  box-sizing: border-box;
}

input[type=text]::placeholder {
  color: #999;
  text-transform: uppercase;
}

input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

*:focus {
  /* outline: #A0F0A0; */
  box-shadow: 0 0 1rem #60F0C0;
}

label {
  display: block;
  margin-bottom: 1.2rem;
  cursor: pointer;
  user-select: none;
  font-size: 1.8rem;
}

.filter legend {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}

input:checked {
  background: #202060;
  color: red;
  border-radius: 50%;
}

@media (max-width: 640px) {
  :host {
    position: static;
  }
}
tdt-button {
  display: block;
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
}
