<div class="ticket-head__summary">

    <h3 class="journey-date"></h3>

    <ul class="journey-info">

        <li class="journey-step">
            <span class="step-time"></span>
            <span class="step-station">Paris<span class="desktop-only"> Gare de Lyon</span></span>
        </li>
        <li class="journey-step">
            <span class="step-time"></span>
            <span class="step-station">Montpellier<span class="desktop-only"> St-Roch</span></span>
        </li>
        <li class="journey-summary">
            <span class="journey-duration"></span>
            <span class="journey-connections"></span>
        </li>

    </ul>

    <p class="conditions"></p>

</div>

<div class="ticket-head__price">
    <p class="price"></p>
</div>