@import 'settings';
@import 'animations';

/************************************************
***************** MEDIA QUERIES *****************
************************************************/

/* Responsive */
@media (max-width: 1600px) {
    html { font-size: 7px; }
}

@media (max-width: 1360px) {
    html { font-size: 7px; }
}

@media (max-width: 1200px) {
    html {
        --fixed-width: 1px;
        font-size: 7px;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 6px;
    }
}

/* Tablet version: greater font-size and moved search-box */
@media (min-width: 640px) and (max-width: 910px) {
    html { font-size: 6px; }

    /* Ticket */
    .ticket { width: 100%; }

    /* Cart */

    .menu--cart { width: 50%; }

    /* Footer */

    .main-footer {
        .footer-container { width: initial; }
    }

    /* Results */
    .page-results {

        .main { width: 100% }
    
        .searchbox {
            position: static;
            padding: 4rem 8rem;
            border-bottom: 2px solid $color2;

            .btn--search { margin-bottom: 2rem; }
            .searchbox-toggle-btn {
                position: absolute;
                bottom: calc(0 - 5rem);
                left: calc(50% - 5rem);
                width: 10rem;
                height: 10rem;
                cursor: pointer;
                background: url('../img/searchbox-btn.svg') center / contain no-repeat;
            }
        }

        .sections-container {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    
        .search-section { 
            width: 100%;
            margin: 0 0 4rem 0;

            .searchbox-title:nth-of-type(2) { text-align: left; }
    
        }

    
        .results-section {
            padding: 0;
        }
        .ticket-list-container { margin: auto; }
    }
}

/* Mobile version */
@media (max-width: 640px) {
    html {
        --fixed-width: 2px;
        font-size: 10px;
    }

    /* General */
    .desktop-only {
        display: none !important;
    }

    /* Cart-menu */
    .menu--cart { width: 100%; }

    /* Header */
    .main-header {
        padding: 0 3.6rem;

        .main-header__logo {
            left: 11rem;
            width: initial;
        }
        .main-title { font-size: 2.4rem; }
        .slogan { font-size: 1rem; }
        .header-btn {
            font-size: 0 !important;

            &:not(.header-btn--burger) { padding-left: 2.2rem; }
        }
        
    }

    /* Footer */
    .main-footer {
        padding-bottom: 0;

        .footer-container {
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            padding: 0 4rem;

        }

        .footer-section {
            width: 100%;
            padding-bottom: 4rem;
            padding-left: 0;
            margin-bottom: 4rem;

            &:not(:last-of-type) {
                border-right: 0;
                border-bottom: 1px solid #FFF;
            }
        }
    }

    /* Searchbox */
    .searchbox { position: static; }


    /* Ticket */
    .ticket {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 .2rem .8rem rgba(0, 0, 0, .2);

        &:hover .ticket-head > *,
        &.open .ticket-head > *,
        &.open .ticket-head:hover > * {
            background: none !important;
        }
        &.open .ticket-head { background: $color1--dark; }
        &.open .ticket-body {
            border-bottom: 2px solid $color2;
            transition: height .4s, border-bottom .2s .2s;
        }

        .ticket-head {
            position: relative;
            height: 9rem;
            padding: 0 2rem;
            background: $color1--light;
            color: $color2;

            & > * { border-radius: 0; }
        }

        .ticket-head__summary {
            position: static;
            padding: 0;
            background: none;

            &::after { display: none; }

            .step-time, .step-station { font-size: 1.6rem; }
            .journey-duration, .journey-connections { font-size: 1.2rem; }
            .step-time, .journey-duration { width: 4rem; }
            .journey-summary { margin-top: 0; }
            .conditions {
                position: absolute;
                right: 2rem;
                top: 1.8rem;
                font-size: 1rem;
                font-weight: 600;
            }
        }

        .ticket-head__price {
            position: static;
            background: none;

            .price {
                position: absolute;
                right: 2rem;
                bottom: 1.6rem;
                font-size: 2rem;
                line-height: initial;
            }
        }

        .ticket-body {
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
        }

        .ticket-body__journey {
            width: 100%;
            padding: 2rem;

            &::before { display: none; }

            .journey-title { display: none; }
            .journey-conditions {
                // align-self: center;
                float: none;
                margin: 0 auto 2rem auto;

                .conditions-title { font-size: 1.4rem; }
                .conditions-content { font-size: 1.4rem; }
            }

            .journey-add {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .price { margin-bottom: 2rem; }
            }
        }

        .ticket-body__vendor {
            width: 100%;
            padding-bottom: 0;

            &::after { display: none; }

            .vendor-title { text-align: left; }
        }
    }
    .ticket.in-cart {
        .conditions { top: initial; }
    }

    /* Results page */
    .page-results {

        .main {
            width: 100%;
            padding-bottom: 0;
        }

        .breadcrumb { display: none; }

        .title-area { padding: 0; margin: 2.4rem 0; }
        .page-title {
            margin: 0;
            font-size: 2.4rem;
            text-align: center;
        }

        .sections-container { display: initial; }

        .search-section {
            width: 100%;
            margin: 0;
        }

        .results-section {
            width: 100%;

            .ticket-list-container { padding: 0 0rem; }

            .end-results {
                padding: 0 2rem;

                p { font-size: 1.4rem; }
            }
        }
    }
}

@media (max-width: 380px) {
    html { font-size: 9px; }
}

/* Mobile-only */
@media (min-width: 640px) {
    .mobile-only {
        display: none !important;
    }
}