@use '../../../../src/scss/settings' as s;

:host {
    position: fixed;
    // top: s.$header-height;
    // right: 0;
    z-index: 20;
    width: 40rem;
    padding: 2rem;
    background: #FFF;
    box-shadow: s.$box-shadow;
    transform: translateX(100%);
    transition: transform .2s;

    top: 200px;
    left: 200px;
}

:host-context([open]) { transform: translateX(0); }

.menu-title {
    position: relative;
    // padding: 2rem 0;
    margin: 0 0 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    // &::after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 100%;
    //     left: 0;
    //     z-index: 1;
    //     width: 100%;
    //     height: 2rem;
    //     background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    // }
}

.cart-list {
    position: relative;
    top: 2rem;
    max-height: 40rem;
    overflow: scroll;    
}

.order-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-top: 2rem;
    // border-top: 1px solid #000;
    font-size: 2.4rem;
}

// .total-label {}

.total {
    font-weight: 700;
    text-align: right;
}

tdt-cart-ticket {
    margin-bottom: 2rem;
}

tdt-button {
    display: block;
    width: 100%;
    height: 6rem;
    font-size: 2rem;
    // margin-bottom: 2rem;
}