<div class="ticket">
    
    <tdt-tickethead>
        <span slot="date"></span>
        <span slot="start-time"></span>
        <span slot="end-time"></span>
        <span slot="duration"></span>
        <span slot="connections"></span>
        <span slot="conditions"></span>
        <span slot="price"></span>
    </tdt-tickethead>

    <tdt-ticketbody>
        <span slot="duration"></span>
        <span slot="price"></span>
        <span slot="vendor-name"></span>
        <img slot="vendor-picture" />
    </tdt-ticketbody>

</div>