@import 'settings';
@import 'animations';

/************************************************
******************** GENERAL ********************
************************************************/

html {
    --fixed-width: 2px; /* Convenient way to keep control over tiny elements (such as borders or lines) that may have an unpredictable behavior (deforming, disappearing...) after recalculated by Media Queries when specified in rems. */
    font-size: 10px;
}

body {
    padding-top: $header-height;
    overflow-x: hidden;
    background: #F9F9F9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.menu {
    position: fixed;
    top: $header-height;
    right: 0;
    z-index: 9;
    width: 40rem;
    padding: 0 2rem;
    background: #FFF;
    box-shadow: $box-shadow;
    
    .menu-title {
        padding: 2rem 0;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
}

.menu--cart {
    transform: translateX(100%);
    transition: transform .2s;

    &.on { transform: translateX(0); }
    
    .menu-title {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 2rem;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }
    }
    .cart-list {
        position: relative;
        top: 2rem;
        max-height: 40rem;
        overflow: scroll;    
    }
    .order-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding-top: 2rem;
        border-top: 1px solid #000;
        font-size: 2.4rem;
    }
    .total-amount {
        font-weight: 700;
        text-align: right;
    }
    .btn--add {
        width: 100%;
        margin-bottom: 2rem;
        color: #FFF;
    }
}

/************************************************
******************** BUTTONS ********************
************************************************/

.btn {
    padding: 0 1rem;
    background: $color2;
    border-radius: .5rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    &--add {
        height: 6rem;
        color: #FFF;
        font-size: 2rem;
        letter-spacing: .2rem;
    }

    &--search {
        width: 100%;
        height: 5rem;
        color: #FFF;
        font-size: 1.6rem;
    }

    &--vendor {
        background: none;
        border: var(--fixed-width) solid $color2;
        color: $color2;
        font-size: 1.6rem;

        &:hover {
            color: #FFF;
            background: $color2;
        }
    }

    &--sell {
        background: #5DD;
        /* ... */
    }
}

/************************************************
******************** HEADER *********************
************************************************/

// Notification badge template
%notification-badge {
    content: attr(data-value);
    display: block;
    position: absolute;
    top: -1rem;
    right: calc(100% - 1rem);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: $color2;
    color: #FFF;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    animation: bounce .3s ;
}

.main-header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    height: $header-height;
    padding: 0 $grid-gap;
    background: #FFF;
    box-shadow: $box-shadow;
}

.main-header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: calc(50% - 16rem);
    width: 32rem;
    height: 100%;

    .main-title {
        font-size: 4rem;
        font-weight: 700;
    }

    .slogan { font-size: 1.6rem; }
}

.main-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


    .header-item { display: inline-block; }
    .header-item:not(:last-child) {
        margin-right: $grid-gap;
    }
    .header-btn {
        position: relative;
        display: block;
        cursor: pointer;
        font-size: 1.6rem;
        
        /* header-btn icon */
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: calc(50% - 1.4rem);
            left: 0;
            width: 2.6rem;
            height: 2.6rem;
            background: center / contain no-repeat;
        }
        &--burger::before { display: none; }
        &--lang::before { background-image: url('../img/header-lang-fr.svg'); }
        &--accessibility::before { background-image: url('../img/header-accessibility.svg'); }
        &--account::before { background-image: url('../img/header-account.svg'); }
        &--cart::before { background-image: url('../img/header-cart.svg'); }

        &:not(.header-btn--burger) { padding-left: 4.2rem; } /* makes the button's area cover its icon (width of 2.6rem + a margin of 1.6rem) */

        /* notification badges for account and cart buttons */

        /* displays only when needed */
        &--account:not([data-value="0"])::after {
            @extend %notification-badge;
            background: $color1--dark;
            color: #000;
        }
        &--cart:not([data-value="0"])::after {
            @extend %notification-badge;
        }

    }
}

.header-btn--burger {
    $width: 3.6rem;
    $height: 1.8rem;

    position: relative;
    width: $width;
    height: $height;

    .line {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: var(--fixed-width);
        border-radius: 1px;
        background: #333;
        transition: transform .2s, opacity .1s .1s;

        &::before, &::after {
            @extend .line;
            content: "";
            top: 0;
        }

        &::before { transform: translateY(-$height / 2); }
        &::after { transform: translateY($height / 2); transform-origin: bottom; }
    }
    &:hover .line { transform: translateY(0); }
}


/************************************************
******************** FOOTER *********************
************************************************/

.main-footer {
    padding: 8rem 0;
    background: $color2;

    .footer-container {
        display: flex;
        justify-content: center;
        width: $grid-width;
        margin: auto;
        font-size: 0;
    }

    .footer-section {
        // display: inline-block;
        width: grid-colspan(3);
        // width: max-content;
        padding-left: $col-width;
        // height: 100%;
        // vertical-align: top;

        &:not(:last-of-type) {
            // margin-right: $grid-gap;
            border-right: 1px solid #FFF;
        }
    }

    .footer-title {
        margin-bottom: 3.6rem;
        color: #FFF;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .footer-item {
        margin-bottom: 2rem;
        color: #FFF;
        font-size: 1.4rem;
    }
}


/************************************************
******************* SEARCHBOX *******************
************************************************/

.searchbox {
    position: sticky;
    top: $header-height + 4rem;
    left: 0;
    padding: 1.6rem;
    border-radius: 1rem;
    background: #F0F0F0;
    @include box-shadow($box-shadow);

    .searchbox-content {
        overflow: hidden;
    }

    fieldset { margin-bottom: 1rem; }

    h3 {
        margin-bottom: 1.6rem;
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    
    input[type=text] {
        display: block;
        width: 100%;
        height: 5rem;
        padding: 1.2rem;
        margin-bottom: 2rem;
        border: 1px solid #CCC;
        border-radius: .4rem;
        background: #FFF;
        font-size: 2rem;
        text-transform: uppercase;
    }
    input[type=text]::placeholder {
        color: #999;
        text-transform: uppercase;
    }
    input[type=checkbox] {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }

    label {
        user-select: none;
        font-size: 1.8rem;
    }

    .search label {
        display: block;
        margin-bottom: 1.2rem;
    }

    .filter legend {
        display: block;
        margin-bottom: 1.6rem;
        font-size: 1.8rem;
    }

    .condition-entry {
        margin-bottom: 1.2rem;

        & label {
            display: inline-block;
            vertical-align: top;
            font-size: 1.6rem;
            margin: 0;
        }
    }

    input:checked { background: $color2; color: red; border-radius: 50%; }
}


