@import 'settings';
@import 'animations';

/************************************************
***************** PAGE RESULTS ******************
************************************************/

.page-results {

    .main {
        width: 144rem;
        padding-bottom: 4rem;
        margin: auto;
    }
    
    .sections-container {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }

    .search-section {
        position: relative;
        width: grid-colspan(3);
        padding-bottom: 2rem;
        margin-right: $grid-gap;

        tdt-searchbox {
            display: block;
            position: sticky;
            top: $header-height + $grid-gap;
            left: 0;
        }
    }

    .results-section {
        width: grid-colspan(9);
    }

    .title-area {
        margin-left: grid-colspan(3) + $grid-gap;
        padding: 4.8rem 0;
    }
    .breadcrumb {
        margin-bottom: 1rem;
        color: #666;
        font-size: 1.8rem;
        font-weight: 600;

        .breadcrumb-link { margin-right: 1rem; }
        // .breadcrumb-link:first-of-type { margin-left: 0; }
        .breadcrumb-link:not(:last-of-type)::after { content: "›"; margin-left: 1.5rem; }
    }
    .page-title {
        font-size: 3.6rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .end-results {
        margin: 8rem 0;

        p {
            margin-bottom: 1rem;
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;
        }
        a {
            color: $color2;
            font-weight: 700;
            text-decoration: underline;
        }
    }
}