/************************************************
********************* RESET *********************
************************************************/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

strong {
    font-weight: 700;
}