// Main structure
$header-height: 10rem;
$grid-width: 144rem;
$grid-gap: 3.6rem;
$col-nb: 12;
$col-width: ($grid-width - ($col-nb - 1) * $grid-gap) / $col-nb;

@function grid-colspan($n) {
    // returns the width of an element spanning $n columns, i.e. the distance between the start of the first column and the end of the last
    @return $n * $col-width + ($n - 1) * $grid-gap;
}

// Theme colors
$color1--light: #A0F0D0;
$color1--dark: #60F0C0;
$color2: #202060;
$darkgrey: #666;
$box-shadow: .0 0 2rem 0 rgba(0, 0, 0, .15);

// Mixins
@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
}

@mixin clip-path($property) {
    -webkit-clip-path: $property;
    clip-path: $property;
}

@mixin pseudo-element($content) {
    content: ''$content'';
    display: block;
    position: absolute;
}
