@use '../../../../src/scss/settings' as s;


*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.ticket-body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background: #EEE;
    will-change: height;
}

ol { list-style: none; }
// Notch template
%notch {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 2.4rem;
    height: 20%;
    background: #F9F9F9;
    transform: translateY(-50%);
}

.l-journey {
    $journey-add-height: 6rem;

    // flex: 1 0 auto;
    position: relative;
    width: s.grid-colspan(6) + s.$grid-gap;
    padding: 4.8rem s.$grid-gap 2 * s.$grid-gap + $journey-add-height;

    &::before {
        @extend %notch;
        left: -1rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    h3 {
        font-weight: initial;
        margin-bottom: 4.8rem;
        font-size: 2.4rem;
        text-align: center;
        text-transform: uppercase;
    }

    .journey-steps {
        margin-bottom: 2rem;

        %trackline {
            content: "";
            display: block;
            position: absolute;
            left: 6.6rem;
            width: var(--fixed-width);
        }

        .step {
            position: relative;
            &::before { /* journey trackline */
                @extend %trackline;
                top: 1.2rem;
                height: 15.5rem;
                background: #000;
            }
        }
        .connection {
            position: relative;
            height: 9.6rem;

            &::before {
                @extend %trackline;
                top: -.6rem;
                height: 100%;
                background: linear-gradient(to bottom, black 0%, 50%, transparent 50%) top / 100% 1.1rem repeat;
            }
        }

        .step-time {
            display: inline-block;
            width: 4.8rem;
            color: s.$darkgrey;
            font-size: 2rem;
            text-align: right;
            vertical-align: top;
        }
        .step-info {
            display: inline-block;
            margin-left: s.$grid-gap;
        }
        .step-start .step-info { margin-bottom: 4.8rem; }
        .step-duration {
            position: relative;
            left: 10rem;
            margin-bottom: 4.8rem;
            color: s.$darkgrey;
            font-size: 1.4rem;

            &::before { /* clock icon */
                content: "";
                display: inline-block;
                position: relative;
                top: -.1rem;
                vertical-align: middle;
                width: 1.6rem;
                height: 1.6rem;
                margin-right: .6rem;
                background: url('./images/ticket-clock.svg') center / 90% no-repeat;
            }
        }
        .train-station {
            position: relative;
            margin-bottom: 1.2rem;
            font-size: 2rem;
            font-weight: initial;
            text-transform: uppercase;

            &::before { /* bullet-point */
                content: "";
                display: block;
                position: absolute;
                top: .6rem;
                left: -2.4rem;
                width: 5px;
                height: 5px;
                background: url('./images/ticket-bulletpoint.svg') center / contain no-repeat;
            }
        }
        .train-info {
            color: s.$darkgrey;
            font-size: 1.4rem;
        }

        .connection-duration {
            position: absolute;
            top: calc(50% - 1rem);
            left: 11rem;
            color: s.$darkgrey;
            font-size: 1.4rem;
            font-style: italic;
            transform: translateY(-50%);
        }
    }

    .journey-conditions {
        position: relative;
        z-index: 1; /* button won't work otherwise */
        float: right;
        width: 26rem;
        padding-top: .4rem;
        padding-left: 3rem;
        margin-bottom: .4rem;
        overflow: hidden;
        color: s.$darkgrey;
        font-size: 1.4rem;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 2rem;
            height: 2rem;
            background: url('../public/images/ticket-warning.svg') bottom / contain no-repeat;
        }

        .conditions-title { 
            font-weight: initial;
            margin-bottom: 2rem;
        }

        .conditions-btn {
            cursor: pointer;
            text-decoration: underline;
        }

        .conditions-detail { overflow: hidden }

        .conditions-content {
            line-height: 1.8rem;
            transform: translateY(-10rem);
            transition: transform .2s;

        }

        .conditions-detail[open] .conditions-content { transform: translateY(0rem); }
    }

    .journey-duration {
        margin-bottom: 4rem;
        margin-left: 8.8rem;
        color: s.$darkgrey;
        font-size: 2rem;
        font-style: italic;
    }
    .journey-add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: s.$grid-gap;
        bottom: s.$grid-gap;
        left: s.$grid-gap;
        height: $journey-add-height;

        .price {
            color: s.$color2;
            font-size: 4.8rem;
            font-weight: 700;
        }
        tdt-button {
            width: s.grid-colspan(3);
            height: 100%;
            font-size: 2rem;
        }
    }
}

.l-vendor {
    position: relative;
    width: s.grid-colspan(3);
    padding: s.$grid-gap;
    border-left: var(--fixed-width) dotted rgba(0, 0, 0, .2);

    &::after {
        @extend %notch;
        right: -1rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    h3 {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .vendor-display {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        // width: s.grid-colspan(2);
        margin-bottom: 2rem;

        .img-container {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            margin-right: 2rem;
            overflow: hidden;
            box-shadow: s.$box-shadow;
            vertical-align: middle;

            img {
                max-width: 100%;
                height: auto;
            }
        }
        .infos { vertical-align: middle; }

        .vendor-name {
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 700;
        }

        .vendor-notation {
            position: relative;
            width: max-content;
            left: -.2rem;
            font-size: 0;

            &::after {
                content: attr(data-number);
                display: block;
                position: absolute;
                // top: calc(50% - 1rem);
                left: calc(100% + 1rem);
                bottom: -.2rem;
                height: 2rem;
                color: s.$darkgrey;
                font-size: 1.2rem;
                white-space: nowrap;

            }
        }

        .star {
            display: inline-block;
            position: relative;
            width: 2.4rem;
            height: 2.4rem;
            // background: #41F2AE;
            background: s.$color1--dark;
            /* star-shape */
            @include s.clip-path(polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%));
            transform: scale(1.1);
            transform-origin: center;

            &--empty {
                // transform: scale(1.1);
                transform-origin: center;
            }
            /* Same star */
            &--empty::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                // left: -.1rem;
                width: 2.4rem;
                height: 2.4rem;
                background: #EEE;
                @include s.clip-path(polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%));
                transform: scale(.6);
                transform-origin: center;
            }
        }
    }

    .reviews-title {
        color: s.$darkgrey;
        padding-bottom: .8rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #AAA;
        font-size: 1.2rem;
        font-weight: initial;
    }

    .reviews-list {
        list-style: none;

        .review-item {
            position: relative;
            
            &:not(:last-of-type) { margin-bottom: 2rem; }
            &::after {
                content: attr(data-date);
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                color: s.$darkgrey;
                font-size: 1.2rem;
            }
        }
        .review-author {
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 700;
        }

        .review-content {
            font-size: 1.6rem;
            font-style: italic;
        }
    }

    .vendor-actions {
        margin-bottom: 2.4rem;
    }

    .vendor-btn {
        display: block;
        width: 100%;
        height: 3.6rem;
        font-size: 1.6rem;
        margin-bottom: 1rem;

        
        // &:not(:last-of-type) { margin-bottom: 1rem; }
    }
}